{% extends 'ghec/base.html' %}

{% load static %}  


{%block content%}
<link rel="stylesheet" href="{% static 'ghec/css/customcss.css' %}" />

<div class="contact-three__bg" style="background-image: url('/static/ghec/images/backgrounds/contact-three-bg.png');"></div>

<div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
   
  <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
<div class="formbg1">
  <div class="formbg-inner padding-horizontal--48">
    <p class="main-menu__update-text"><center>password reset link has been <br/> sent to your email</center></p>
   
  </div></div>

  </div></div>

{%endblock%}